version: '3.8'

services:
  mariadb:
    container_name: mariadb
    build:
        context: ./mariadb
        dockerfile: Dockerfile
    env_file:
        - .env
    restart: always
    networks:
        - inception
    volumes:
        - data_mysql:/var/lib/mysql

  wordpress:
    container_name: wordpress
    build:
        context: ./wordpress
        dockerfile: Dockerfile
    env_file:
        - .env
    restart: always
    networks:
        - inception
    volumes:
        - data_wordpress:/var/www/wordpress
    depends_on:
        - mariadb

  nginx:
    container_name: nginx
    build:
        context: ./nginx
        dockerfile: Dockerfile
    restart: always
    networks:
        - inception
    volumes:
        - data_wordpress:/var/www/wordpress
    ports:
        - "80:80"
        - "443:443"
    depends_on:
        - wordpress
        - phpmyadmin

  adminer:
    image: adminer:latest
    container_name: adminer
    environment:
        ADMINER_DEFAULT_SERVER: mariadb
        ADMINER_DESIGN: nette
    restart: always
    networks:
        - inception
    depends_on:
        - mariadb

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    environment:
        PMA_ARBITRARY: 1
        PMA_ABSOLUTE_URI: /
    restart: always
    networks:
        - inception
    depends_on:
        - mariadb

networks:
    inception:
        driver: bridge

volumes:
    data_mysql:
    data_wordpress: